.page {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}
.Left-panel {
  float: left;
  width: 13%;
  height: 100%;
  margin-right: 2%;
}
.Main-field {
  float: right;
  width: 85%;
  height: 100%;
  margin: 0;
  text-align: left;
}
